.small-uppercase {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

.modal-background {
  @extend .small-uppercase;
}

.product-link {
  @extend .small-uppercase;
  background-color: red;
}

.image-pattern {
  @extend .small-uppercase;
}